* {
    padding: 0;
    margin: 0;
    
}
body{
    background-color: #f2f3f7;
}
.container {
    width: 100%;
}
.leftContainer {
    width: 71%;
}

.taskList {
    margin-top: 2vmax;
    border: 4px solid white;
    border-radius: 10px;
    width: 80%;
    min-height: 500px;
    margin-left: 8%;
    display: flex;
}

.nav {
    flex-direction: column;
    background-color: #1f2c3d;
    width: 15%;
}
.nav h3 {
    color: #f2f3f7;
    font-family: "Tilt Neon", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 5px;
}

.logout-form{
    margin-top: 2vmax;
}

.logout-form img{
    width: 20px;
    margin: 0.7vmax 0 0 1.7vmax;

}

.logout-form button {
    background-color: #1f2c3d;
    color: white;
    padding: 5px;
    position: absolute;
    cursor: pointer;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    margin-left: 1vmax;
}

.search{
    margin-top: 40%;
    
}

.search input{
    margin: 0.5vmax 0;
    padding: 5px;
}

.input_query{
    width: 91%;
    padding: 10px;
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
    outline: none;
}

.search-btn{
    background-color: rgb(234, 104, 11);
    border-radius: 20px;
    padding: 25px;
    text-decoration: none;
    color:white;
    cursor: pointer;
}

/* -----------------------------------left container--------------------------- */
.leftContainer>h1 {
    display: flex;
    justify-content: center;
    color: #1f2c3d;
    font-family: "Bungee Spice", sans-serif;
}
.addTask{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vmax;
    min-height: 10vmax;
}

.addTask>p {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2vmax;
    display: flex;
    justify-content: center;

}

.addTask a{
    background-color: rgb(234, 104, 11);
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
    color:white;
    position: relative;
    margin-top: 0.7vmax;
}


/* <-------------------------task section-----------------------> */
.task {
    background-color: white;
    margin: 1vmax;
    padding: 1vmax;
    border-radius: 15px;
    display: flex;
    width: 113%;
}

.task>h3 {
    background-color: white;
    font-family: "Tilt Neon", sans-serif;
    font-weight: 500;
    word-spacing: 4px;
}

.task_svg {
    width: 20px;
    background-color: white;
    color: white;
    margin-right: 15px;
}

.task_svg>img,
.edit_task a {
    background-color: white;
}

.edit_task {
    position: absolute;
    right: 220px;
    background-color: white;
}

.delete_task {
    position: absolute;
    right: 183px;
    background-color: white;
}

.edit_task img,
.delete_task img {
    width: 20px;
    background-color: white;

}

/* ---------------------------------- end task section--------------------------------- */